<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5
		IjoiY29yZXN0b3JlIiwibG9jYXRpb24iOnsicmVtb3RlIjpbImh0dHBzOlwv
		XC9naXRodWIuY29tXC9Kb2huRXN0cm9waWFcL0NvcmVTdG9yZS5naXQiXX0s
		InByb2R1Y3RGaWx0ZXIiOm51bGwsInJlcXVpcmVtZW50Ijp7InJhbmdlIjpb
		eyJsb3dlckJvdW5kIjoiOC4xLjAiLCJ1cHBlckJvdW5kIjoiOS4wLjAifV19
		fV19LHsic291cmNlQ29udHJvbCI6W3siaWRlbnRpdHkiOiJzd2lmdHVpeCIs
		ImxvY2F0aW9uIjp7InJlbW90ZSI6WyJodHRwczpcL1wvZ2l0aHViLmNvbVwv
		U3dpZnRVSVhcL1N3aWZ0VUlYIl19LCJwcm9kdWN0RmlsdGVyIjpudWxsLCJy
		ZXF1aXJlbWVudCI6eyJyYW5nZSI6W3sibG93ZXJCb3VuZCI6IjAuMS4yIiwi
		dXBwZXJCb3VuZCI6IjEuMC4wIn1dfX1dfV0sImRpc3BsYXlOYW1lIjoiQ2Fu
		ZGlkYXRlIFBpY2tlciIsInBhY2thZ2VLaW5kIjp7InJvb3QiOnt9fSwicGxh
		dGZvcm1zIjpbeyJvcHRpb25zIjpbXSwicGxhdGZvcm1OYW1lIjoiaW9zIiwi
		dmVyc2lvbiI6IjE1LjIifV0sInByb2R1Y3RzIjpbeyJuYW1lIjoiQ2FuZGlk
		YXRlIFBpY2tlciIsInNldHRpbmdzIjpbeyJidW5kbGVJZGVudGlmaWVyIjpb
		ImRldi50aGlua2J5dGUxMDI0LkNhbmRpZGF0ZVBpY2tlciJdfSx7InRlYW1J
		ZGVudGlmaWVyIjpbIkE0N1BLNDNNWDYiXX0seyJkaXNwbGF5VmVyc2lvbiI6
		WyIwLjIuMSJdfSx7ImJ1bmRsZVZlcnNpb24iOlsiMSJdfSx7ImlPU0FwcElu
		Zm8iOlt7ImFjY2VudENvbG9yIjp7InByZXNldENvbG9yIjp7InByZXNldENv
		bG9yIjp7InJhd1ZhbHVlIjoibWludCJ9fX0sImFwcENhdGVnb3J5Ijp7InJh
		d1ZhbHVlIjoicHVibGljLmFwcC1jYXRlZ29yeS51dGlsaXRpZXMifSwiYXBw
		SWNvbiI6eyJwbGFjZWhvbGRlciI6eyJpY29uIjp7InJhd1ZhbHVlIjoicGFw
		ZXIifX19LCJjYXBhYmlsaXRpZXMiOltdLCJzdXBwb3J0ZWREZXZpY2VGYW1p
		bGllcyI6WyJwYWQiLCJwaG9uZSJdLCJzdXBwb3J0ZWRJbnRlcmZhY2VPcmll
		bnRhdGlvbnMiOlt7InBvcnRyYWl0Ijp7fX0seyJsYW5kc2NhcGVSaWdodCI6
		e319LHsibGFuZHNjYXBlTGVmdCI6e319LHsicG9ydHJhaXRVcHNpZGVEb3du
		Ijp7ImNvbmRpdGlvbiI6eyJkZXZpY2VGYW1pbGllcyI6WyJwYWQiXX19fV19
		XX1dLCJ0YXJnZXRzIjpbIkFwcE1vZHVsZSJdLCJ0eXBlIjp7ImV4ZWN1dGFi
		bGUiOm51bGx9fV0sInRhcmdldE1hcCI6eyJBcHBNb2R1bGUiOnsiZGVwZW5k
		ZW5jaWVzIjpbeyJwcm9kdWN0IjpbIkNvcmVTdG9yZSIsIkNvcmVTdG9yZSIs
		bnVsbF19LHsicHJvZHVjdCI6WyJTd2lmdFVJWCIsIlN3aWZ0VUlYIixudWxs
		XX1dLCJleGNsdWRlIjpbXSwibmFtZSI6IkFwcE1vZHVsZSIsInBhdGgiOiIu
		IiwicmVzb3VyY2VzIjpbXSwic2V0dGluZ3MiOltdLCJ0eXBlIjoiZXhlY3V0
		YWJsZSJ9fSwidGFyZ2V0cyI6W3siZGVwZW5kZW5jaWVzIjpbeyJwcm9kdWN0
		IjpbIkNvcmVTdG9yZSIsIkNvcmVTdG9yZSIsbnVsbF19LHsicHJvZHVjdCI6
		WyJTd2lmdFVJWCIsIlN3aWZ0VUlYIixudWxsXX1dLCJleGNsdWRlIjpbXSwi
		bmFtZSI6IkFwcE1vZHVsZSIsInBhdGgiOiIuIiwicmVzb3VyY2VzIjpbXSwi
		c2V0dGluZ3MiOltdLCJ0eXBlIjoiZXhlY3V0YWJsZSJ9XSwidG9vbHNWZXJz
		aW9uIjp7Il92ZXJzaW9uIjoiNS42LjAifX0=
		</data>
		<key>manifestHash</key>
		<data>
		Oxh4oxmxb7BnDNByUPeJBTLn73Fysz9cM+hBHjMKP5w=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.6.0-dev</string>
	</dict>
</dict>
</plist>
